
Button {
    border: 1px solid blue;
    background-color: green;
    padding: 16px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
  }

  Button:hover{
    background-color: lightgreen;
    color: black;
  }

  Button.Red {
    background-color: red;
  }

  Button.Red:hover {
    background-color: salmon;
    color: black;
  }
